﻿Your Deltaline rescheduling with reference code: {{Refcode}} and Trip Code: {{TripCode}} was successful.<br />
Your new Departure Date is: {{DepatureDate}} by  {{DepartureTime}}
<br />
<br />
<strong>Note:</strong> Check-in closes 30mins before departure. Only one medium sized box is allowed
<br />
<br />Sent from deltaline.com
